body{
    display: grid; 
    font-family: monospace; 
    background-color: white;
    margin-top: 0.6vw;
    font-size: 2vh;
    max-width: 100%; 
    
}

#content-area {
    margin: 0vh 1vw;
    background-color: rgba(220, 204, 244, 0.832);
    padding: 0 4vw;
    position: relative; 
}


#page-title {
    display: flex;
    font: bold;
    font-size: 4.8em;
    font-family: Copperplate;
    justify-content: center; 
    color: purple;
    text-shadow: 0.1vw 0.1vw 1px rgb(255, 255, 255) ;


}

#index-nav ul, #story-nav ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    
}

#index-nav li, #story-nav li{
    font-size: 1.3em;
    padding: 1em;
    color: transparent;
    background-color: white;
    width: 50%; 
    text-align: center;
}

#index-nav a, #story-nav a{
    text-decoration: none;
    color: darkblue; 
    
}


#index-nav li:hover, #story-nav li:hover{
    background-color: lightskyblue;
}

#index-main-text{
    display: flex;
    flex-direction: column;
}
#index-main-text p:hover{
    color: red; 
    text-shadow: 0.1vw 0.1vw 1px black;
}

#p2 {
    margin-left: 300px;
}
#p3 {
    margin-left: 700px; 
}
#p4 {
    margin-left: 1000px; 
}

factions-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh; 
}
factions-img{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}
#p7{
    font-size: larger;
    font-weight: bold;
}
#royalist, #witches, #anarchist{
    max-width: 100px;
    
}

#royalist:hover, #witches:hover, #anarchist:hover{
    background-color: black;
}

footer 
{
    width: 100%;
    background-color: white;
    text-align: center;
}

#castle-pic{
    width: 100%;
}
#android{
    max-width: 500px; 
    background-color: white; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
reviews
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 7vh;
}

reviews h2
{
    width: 100%;
    text-align: center; 
}

#review1, #review2, #review3{
    display: flex;
    flex-direction: column; 
}

reviews img{
    max-width: 100px;
}

.grid-container{
    display:grid; 
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
}


#story-nav {
    grid-column-start:1 ;
    grid-column-end: 6;
}

.main-story{
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: larger;
    grid-row-start: 2;
    grid-row-end: 4;
}

.aside-story{
    grid-column-start: 4;
    grid-column-end: 3; 
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
}

factions-story{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.custimization{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    text-align: center;
}

story-footer{
    grid-column-start: 1;
    grid-column-end: 6; 
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px; 
}
story-footer #android
{
    max-height: 50px; 
}
.grid-container1{
    display: grid;
    grid-template-columns: 10% 10% 15% 30% 15% 10% 10%;
    grid-template-rows: 10% 10% 20% 20% 20% 10% 10%; 
}
.creator{
    grid-column-start: 1;
    grid-column-end:7; 
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2; 
    font-weight: bolder;
    font-size: xx-large;
}
.names{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; 
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.bios{
    grid-column-start: 5;
    grid-column-end: 8;
    display: flex;
    flex-direction: column; 
}

.headshots{
    grid-column-start: 4;
    grid-column-end:5; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#headshot1, #headshot2, #headshot3{
    max-width: 200px;
}

.about-app
{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6; 
    text-align: center;
    font-size: large;
}

info-footer{
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 9; 
    background-color: white;
    padding-top: 10px;
    padding-bottom:10px; 
    display: flex;
    align-items: center;
}
info-footer #android{
    max-height: 50px; 
}

#royalist-title{
    text-align: center;
    color: indigo;
}

#royal1, #royal2, #royal3
{
    text-align: center;
}

.grid-container2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 10% 20% 20% 20% 10% 10%;
}
#meet-the-royalists{
    text-align: center; 
    grid-row-start: 1;
    grid-row-end: 3; 
    grid-column-start: 1;
    grid-column-end: 3; 
}

.joanna{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}
.lucien{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3; 
}



