body{
    font-family: monospace; 
    background-image: url(/images/castle.jpg);
    margin-top: 3vw;
    
}

#content-area {
    margin: 0 10vw;
    background-color: lightsteelblue;;
    padding: 10px 10vw;
    box-sizing: border-box;
    position: relative;
   
}

#page-title {
    display: flex;
    font: bold;
    font-size: 4em;
    font-family: Copperplate;
    justify-content: center; 
    color: purple;
    text-shadow: 0.1vw 0.1vw 1px lavender ;

}

#index-nav ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
}

#index-nav li{
    font-size: 1.3em;
    background-color: white;
    padding: 1em;
    color: transparent;
}

#index-nav a {
    border-color: aquamarine;
    text-decoration: none;
    color: black; 
}
#index-nav a:hover{
    color: maroon;
}
#index-nav li:hover{
    background-color: lightpink; 
}

