body{
    display: grid; 
    font-family: monospace; 
    background-color: white;
    margin-top: 0.6vw;
    font-size: 2vh;
    max-width: 100%; 
    
}

#content-area {
    margin: 0vh 1vw;
    background-color: rgba(220, 204, 244, 0.832);
    padding: 0 4vw;
    position: relative; 
}


#page-title {
    text-align: center;
    font: bold;
    font-size: 4.8em;
    font-family: Copperplate;
    color: purple;
    text-shadow: 0.1vw 0.1vw 1px rgb(255, 255, 255) ;
    max-width: 100%;
}

#index-nav ul, #story-nav ul{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    
}

#index-nav li, #story-nav li{
    font-size: 1.3em;
    padding: 1em;
    color: transparent;
    background-color: white;
    width: 50%; 
    text-align: center;
}

#index-nav a, #story-nav a{
    text-decoration: none;
    color: darkblue; 
    line-height: 2rem;
    padding: 3em; 
}


#index-nav li:hover, #story-nav li:hover{
    background-color: lightskyblue;
}

/** Main Page CSS **/

#index-main-text{
    display: flex;
    flex-direction: column;
}
#index-main-text p:hover{
    color: red; 
    text-shadow: 0.1vw 0.1vw 1px black;
}

#p2 {
    margin-left: 300px;
}
#p3 {
    margin-left: 700px; 
}
#p4 {
    margin-left: 1000px; 
}

factions-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh; 
}
factions-img{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10vh;
}
#p7{
    font-size: larger;
    font-weight: bold;
}
#royalist, #witches, #anarchist{
    max-width: 100px;
    
}

#royalist:hover, #witches:hover, #anarchist:hover{
    background-color: black;
}

footer 
{
    width: 100%;
    background-color: white;
    text-align: center;
}

#castle-pic{
    width: 100%;
}
#android{
    max-width: 500px; 
    background-color: white; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
reviews
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 7vh;
}

reviews h2
{
    width: 100%;
    text-align: center; 
}

#review1, #review2, #review3{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

reviews img{
    max-width: 100px;
}

/** App Content Page CSS **/

.grid-container{
    display:grid; 
    grid-template-columns: 10% 60% 20% 10%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
}


#story-nav {
    grid-column-start:1 ;
    grid-column-end: 6;
}

.main-story{
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: larger;
    grid-row-start: 2;
    grid-row-end: 4;
}

.aside-story{
    grid-column-start: 4;
    grid-column-end: 3; 
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;
}

factions-story{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.custimization{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 6;
    text-align: center;
}

story-footer{
    grid-column-start: 1;
    grid-column-end: 6; 
    grid-row-start: 8;
    grid-row-end: 9;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px; 
}
story-footer #android
{
    max-height: 50px; 
}

/** About Us Page CSS **/
.grid-container1{
    display: grid;
    grid-template-columns: 10% 10% 15% 30% 15% 10% 10%;
    grid-template-rows: 10% 10% 20% 20% 20% 10% 10%; 
}
.creator{
    grid-column-start: 1;
    grid-column-end:7; 
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2; 
    font-weight: bolder;
    font-size: xx-large;
}
.names{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4; 
    font-weight: bolder;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.bios{
    grid-column-start: 5;
    grid-column-end: 8;
    display: flex;
    flex-direction: column; 
}

.headshots{
    grid-column-start: 4;
    grid-column-end:5; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#headshot1, #headshot2, #headshot3{
    max-width: 200px;
}

.about-app
{
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6; 
    text-align: center;
    font-size: large;
}

info-footer{
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 9; 
    background-color: white;
    padding-top: 10px;
    padding-bottom:10px; 
    display: flex;
    align-items: center;
}
info-footer #android{
    max-height: 50px; 
}

/** Royalist Page CSS **/

#royalist-title{
    text-align: center;
    color: rgb(131, 97, 14);
}
.joanna{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
}
.lucien{
    grid-row-start: 2;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3; 
}

/** CSS For Royalists, Anarchists, and Witches **/

.grid-container2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 10% 20% 20% 20% 10% 10%;
}
#meet-the-royalists, #meet-the-anarchist, #meet-the-witches{
    text-align: center; 
    grid-row-start: 1;
    grid-row-end: 3; 
    grid-column-start: 1;
    grid-column-end: 3; 
}
#royal1, #royal2, #royal3, #anarch1, #anarch2, #anarch3, #witch1, #witch2, #witch3
{
    text-align: center;
}
.mortan, .onyx{
    grid-row-start:2;
    grid-row-end: 7;
    grid-column-start:1;
    grid-column-end: 3;
    text-align: center;
}


#anarchy-title{
    text-align:center;
    color:rgb(106, 6, 6);
}


#witches-title
{
    color: green; 
    text-align: center;
}

/** Media for Horizontal Tablet **/

@media(max-width: 1280px)
{
    .custimization{
        grid-column-start: 1;
        grid-column-end: 9;   
        justify-content: center;
    }
}

/** Media for Vertical Tablet **/

@media(max-width: 800px)
{
    #index-nav a, #story-nav a{
        padding: 0.5em; 
    }
    /*
    story page changes
    */
    .main-story{
        text-align: center;
    }

    .aside-story{
        grid-row-start: 6;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 5;
        text-align: center;
    }

    factions-story{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    #meet-the-royalists, #meet-the-anarchist, #meet-the-witches{
        text-align: center; 
        grid-row-start: 1;
        grid-row-end: 3; 
        grid-column-start: 1;
        grid-column-end: 5; 
    }
    
    .mortan, .onyx{
        grid-column-start:1;
        grid-column-end: 9;
        grid-row-end:2; 
        
    }

    .joanna{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
    }
    .lucien{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 3; 
        text-align: center;
    }

    /* Main Page Changes */
    #p1,#p2,#p3,#p4,#p5
    {
        margin-left: 0px; 
        text-align: center;
    }
    reviews
    {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }
    #review1, #review2, #review3{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    reviews img{
        max-width: 25%;
    }

    /*About Us */
    #grid-container1
    {
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 40% 20% 20% 20% 10%;
    }
    .names
    {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 6;
        
    }
    .bios{
        grid-column-start: 3;
        grid-row-start: 2;
        
    }
    .headshots{
        display: none;
    }

    .about-app{
        grid-row-start: 6;
        grid-row-end: 8;
        
        font-size: x-large;
    }


}

